# Seeed Wio Tracker 1110 board configuration

# Copyright (c) 2024 Seeed Studio
# SPDX-License-Identifier: Apache-2.0

if BOARD_WIO_TRACKER_1110

config BT_CTLR
	default BT

endif # BOARD_WIO_TRACKER_1110

if USB_DEVICE_STACK

config UART_CONSOLE
	default CONSOLE

config USB_DEVICE_INITIALIZE_AT_BOOT
	default y

endif # USB_DEVICE_STACK
