/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>
#include "wio_tracker_1110-pinctrl.dtsi"
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	model = "Seeed Wio Tracker 1110";
	compatible = "seeed,wio-tracker-1110";

	chosen {
		zephyr,console = &usb_cdc_acm_uart;
		zephyr,shell-uart = &usb_cdc_acm_uart;
		// zephyr,uart-mcumgr = &usb_cdc_acm_uart;
		// zephyr,bt-mon-uart = &usb_cdc_acm_uart;
		// zephyr,bt-c2h-uart = &usb_cdc_acm_uart;
		nordic,pm-ext-flash = &p25q32sh;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,ieee802154 = &ieee802154;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
		/* The led `GROVE` is not controlled by MCU, 
		it's on when the power for Grove connectors are gated on via P1.01. */
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	grove_digital0: grove_digital0 {
		compatible = "grove-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 13 0>,	/* D13 */
				<1 0 &gpio0 14 0>;		/* D14 */
	};

	grove_digital1: grove_digital1 {
		compatible = "grove-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 15 0>,	/* D15 */
				<1 0 &gpio0 16 0>;		/* D16 */
	};

	grove_digital2: grove_digital2 {
		compatible = "grove-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 30 0>,	/* D30 */
				<1 0 &gpio0 31 0>;		/* D31 */
	};

	/* use Analog header as digital pins */
	grove_digital_analog: grove_digital_analog {
		compatible = "grove-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 28 0>,	/* D28 */
				<1 0 &gpio0 29 0>;		/* D29 */
	};

	/* use UART header as digital pins */
	grove_digital_uart: grove_digital_uart {
		compatible = "grove-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 24 0>,	/* D24 */
				<1 0 &gpio0 25 0>;		/* D25 */
	};

	/* use I2C header as digital pins */
	grove_digital_i2c: grove_digital_i2c {
		compatible = "grove-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &gpio0 4 0>,	/* D4 */
				<1 0 &gpio0 5 0>;		/* D5 */
	};

	semtech_gpios {
		compatible = "gpio-keys";
		semtech_sx1262_cs: cs {
			gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;
			label = "semtech_sx1262 CS";
		};
		semtech_sx1262_reset_gpios: reset {
			gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
			label = "semtech_sx1262 Reset";
		};
		semtech_sx1262_busy_gpios: busy {
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Busy";
		};
		/*semtech_sx1262_antenna_enable_gpios: antena_enable {
			gpios = <&gpio1 0xa GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 Antena Enable";
		};*/
		semtech_sx1262_dio1_gpios: dio1 {
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			label = "semtech_sx1262 DIO1";
		};
		radio_led_tx: led_tx {
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
			label = "red tx LED";
		};
		/*radio_led_rx: led_rx {
			gpios = <&gpio0 0x1f GPIO_ACTIVE_HIGH>;
			label = "green rx LED";
		};
		radio_led_sniff: led_sniff {
			gpios = <&gpio1 0x5 GPIO_ACTIVE_HIGH>;
			label = "yellow LED";
		};*/
		radio_gnss_lna: gnss_lna {
			gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
			label = "gnss lna enable";
		};
	};

	/* Regulators */
	B3V3_pwr: grove_power_3v3_en {
		compatible = "regulator-fixed";
		regulator-name = "grove_headers_power_3v3_enable";
		enable-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		startup-delay-us=<20000>;
		//delay needed to allow lis3dh to power up before driver init
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		sw0 = &button0;
		button0 = &button0;
		watchdog0 = &wdt0;
		spi-flash0 = &p25q32sh;
		accel0 = &lis3dh;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

grove_uart: &uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

grove_i2c: &i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_FAST>;

	sht41: sht4x@44 {
		compatible = "sensirion,sht4x";
		reg = <0x44>;
		repeatability = <2>;	/* 2 = high -> 8.2 ms */
		vin-supply = < &B3V3_pwr >;
	};

	lis3dh: lis3dh@19 {
		compatible = "st,lis3dh", "st,lis2dh";
		reg = <0x19>;
		irq-gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>,	/* P1.03 = INT1 */
				<&gpio1 4 GPIO_ACTIVE_HIGH>;		/* P1.04 = INT2 */
		// anym-on-int1;
		// disconnect-sdo-sa0-pull-up;
		vin-supply = < &B3V3_pwr >;
	};
};

&pwm0 {
	/* assigned to one of the trace pins temporarily */
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

sid_semtech: &spi0 {
	/* inside the WM1110 module */
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <DT_FREQ_M(8)>;
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	p25q32sh: p25q32sh@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		sck-frequency = <100000000>;
		quad-enable-requirements = "S2B1v1";
		jedec-id = [85 60 16];
		sfdp-bfp = [
			e5 20 f1 ff  ff ff ff 00  44 eb 08 6b  08 3b 80 bb
			ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
			10 d8 08 81
		];
		size = <33554432>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <8000>;
	};
};

&ieee802154 {
	status = "okay";
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_mbr_partition: partition@0 {
			label = "boot_mbr";
			reg = <0x00000000 0x00001000>;
		};

		slot0_partition: partition@1000 {
			label = "code";
			reg = <0x00001000 0x00d0000>;
		};

		mfg_storage: partition@d0000 {
			label = "mfg_storage";
			reg = <0x000d0000 0x0001000>;
		};

		sidewalk_storage: partition@d1000 {
			label = "sidewalk_storage";
			reg = <0x000d1000 0x0001000>;
		};

		bootloader_partition: partition@f4000 {
			label = "bootloader";
			reg = <0x000f4000 0x00008000>;
		};

		storage_partition: partition@fc000 {
			label = "nvs";
			reg = <0x00fc000 0x00002000>;
		};

		bootloader_mbr_params_partition: partition@fe000 {
			label = "bootloader_mbr_params";
			reg = <0x000fe000 0x00001000>;
		};

		bootloader_settings_partition: partition@ff000 {
			label = "bootloader_settings";
			reg = <0x000ff000 0x00001000>;
		};

	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	usb_cdc_acm_uart: cdc-acm-uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};
